# ---> cpp_task_unix
# По умолчанию игнорировать все файлы 
*

# Не игнорировать директории
!*/

# gitignore
!.gitignore

# Заголовочные файлы библиотеки
!include/*.h
# Файлы исходного кода библиотеки
!src/*.cpp

# Readme
!Readme.md
!Rules.md

# CMakeLists
!CMakeLists.txt
